# 部署者私钥（不带 0x 前缀）
Private_Key=your_private_key_here

# 部署者地址
Depolyer_Address=0xYourDeployerAddress

# Polkadot 测试网 RPC
Polkadot_Test_Rpc=https://eth-rpc-testnet.polkadot.io

# 部署后的合约地址（部署完成后填入）

BookFactory=0x310BaBB0A39170E08985b359cD9B8330a049c445
QuickNFT=0xeaD6C430cFe45A28397e7A642137a6C03E16aeDF
